/* Write your CSS here */
.container {
  background-color: #ffffff;
  height: 100vh;
  font-family: 'Roboto';
}
.heading {
  color: black;
  font-family: 'Roboto';
}
.count {
  color: #2d3a35;
  font-family: 'Roboto';
}
.value {
  color: #c20a72;
}
.button {
  background-color: #007bff;
  border-color: #007bff;
  font-family: 'Roboto';
  cursor: pointer;
  outline: none;
}
